

:root{
   
  --azul-oscuro-bkg: #242380;
  --azul-oscuro-bkg-2: #1e0063;
  --azul-oscuro: #18014d;
  --celeste: #00b3ee;
  --rojo: #da010c;
  --amarillo: #fae100;
  --dorado: #f1a100;
  --blanco: #fcffff;
  --gris-01: #e1e2ec;
  --gris-02: #c5d0e6;
   --gris-03: #bac3e0;
  }

  body {
    padding: 50px;
    font-family: 'Raleway', sans-serif;
  }

a {
  color: #00B7FF;
}

