:root {
  --azul-oscuro-bkg: #242380;
  --azul-oscuro-bkg-2: #1e0063;
  --azul-oscuro: #18014d;
  --celeste: #00b3ee;
  --rojo: #da010c;
  --amarillo: #fae100;
  --dorado: #f1a100;
  --blanco: #fcffff;
  --gris-01: #e1e2ec;
  --gris-02: #c5d0e6;
  --gris-03: #bac3e0;
}

a {
  color: var(--gris-02);
  text-decoration: none;
}

.nav-container {
  width: 100%;
  height: 75px;
  background: linear-gradient(90deg, var(--azul-oscuro) 10%, var(--azul-oscuro-bkg)20%, var(--azul-oscuro) 50%, var(--azul-oscuro-bkg)80%, var(--azul-oscuro) 90%);
}

.nav-sections {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.nav-sections-icon {
  width: 10%;
  text-align: center;
}

.nav-sections-icon > img{
  width: 50px;
  margin: 10px 20px;
  border-radius: 10px;
}

.nav-sections-links {
  width: 90%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.nav-sections-links > .mobile-mode > .icons-mobile-mode{
  font-size: 2rem;
  color: var(--azul-oscuro-bkg-2);
  position: absolute;
  right: 2rem;
  top: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.nav-sections-links > .mobile-mode > .icons-mobile-mode > div > img {
  width: 30px;
  height: 30px;
}

.nav-sections-links > .mobile-mode > .list-mobile-mode{
  font-size: 2rem;
  position: absolute;  
  background-color: var(--azul-oscuro-bkg);
  border-radius: 10px;
  width: 90vw;
  height: 50vh;
  z-index: 100;
  left: 5vw;
  top: 6rem;
  /* display: none; */
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  
}

.pc-mode > ul > li,
.mobile-mode > div > ul > li {
  font-size: 1.2rem;
  font-weight: 400;
  list-style: none;
}

.nav-sections-links > .pc-mode{
  display: none;
}

.hidden-menu{
  display: none;
}

.visible-menu{
  display: flex;
}






@media (min-width: 768px){
  .nav-sections-links > .mobile-mode{
    display: none;
  }

  .nav-sections-links > .pc-mode{
    min-width: 100%;
    display: block;
  }

  .nav-sections-links > .pc-mode > ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
  }
  
  .nav-sections-links > .pc-mode > ul > li{
    height: inherit;
  }
  
}