/* CAda una de las secciones */
.secciones {
  padding: 2rem;
  background-color: var(--azul-oscuro);
  color: var(--gris-01);
  min-height: 70vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.secciones:nth-child(odd) {
  background-color: var(--gris-01);
  color: var(--azul-oscuro);
}

/* Texto de cada seccion */

.text-secciones {
  text-align: center;
  width: 90%;
  margin: 2.5%;
}

.text-secciones > .text-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.text-secciones>.text-description {
  font-size: 1.5rem;
  font-style: italic;
}

.container {
  width: 90%;
  height: 200px;
}

.container:hover>.card {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1.5s;
  transform-style: preserve-3d;
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: .5rem;
  position: absolute;
  backface-visibility: hidden;
}



.secciones:nth-child(odd) .back,
.secciones:nth-child(odd) .front {
  box-shadow: 2px 1px 8px var(--azul-oscuro),
    2px -1px 8px var(--azul-oscuro),
    -2px 1px 8px var(--azul-oscuro),
    -2px -1px 8px var(--azul-oscuro);
}

.secciones:nth-child(even) .back,
.secciones:nth-child(even) .front {
  box-shadow: 2px 1px 8px var(--gris-03),
    2px -1px 8px var(--gris-03),
    -2px 1px 8px var(--gris-03),
    -2px -1px 8px var(--gris-03);
}

.back {
  background-color: lightblue;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.secciones:nth-child(odd) .back {
  background-color: rgba(89, 0, 255, 0.733);
}

a.back {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--azul-oscuro);
}

.secciones:nth-child(odd) a.back {
  color: var(--gris-03)
}

/* imagenes de las cards */
#img01 {
  background-image: url("./images/01.jpg");
  background-size: cover;
}

#img02 {
  background-image: url("./images/02.jpg");
  background-size: cover;
}

#img03 {
  background-image: url("./images/03.jpg");
  background-size: cover;
}

#img04 {
  background-image: url("./images/04.jpg");
  background-size: cover;
}



@media (min-width: 768px) {
  .secciones {
    min-height: 60vh;
    padding: 1rem 0;
    flex-flow: row nowrap;
  }

  .secciones:nth-child(odd) {
    flex-flow: row-reverse nowrap;
  }

  .text-secciones {
    max-width: 30%;
    margin: 0 5%;
    text-align: start;
  }

  .text-secciones > .text-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .text-secciones>.text-description {
    font-size: 1.75rem;
  }

  .container {
    max-width: 40%;
  }


  .secciones:nth-child(even) > .container {
    margin-right: 10%;
  }
  .secciones:nth-child(odd) > .container {
    margin-left: 10%;
  }

  .card {
    height: 17vw;
    width: 25vw;
  }
}

@media (min-width: 992px) {
  
  .text-secciones {
    width: 55%;
    margin: 0 10%;
    text-align: start;
  }

}
@media (min-width: 1200px) {

}