:root{
   
  --azul-oscuro-bkg: #242380;
  --azul-oscuro-bkg-2: #1e0063;
  --azul-oscuro: #18014d;
  --celeste: #00b3ee;
  --rojo: #da010c;
  --amarillo: #fae100;
  --dorado: #f1a100;
  --blanco: #fcffff;
  --gris-01: #e1e2ec;
  --gris-02: #c5d0e6;
   --gris-03: #bac3e0;
  }

.App {
  width: 100vw;
  height: 100vh;
  font-size: large;
  margin: 0px;
}

.compMargin {
  margin-top: 0px;
  margin-left: 0px;
}


.sidebar {
  position: fixed;
  background-color: #6c757d;
  height: 100%;
  width: 15% ;
  
}

.sidebarList {
  padding: 0%;
  height: auto;
  width: 100%;
}

.sidebarList .row {
  list-style-type: none;
  margin: 0;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid black

}

.sidebarList .row:hover {
  cursor: pointer;
  background-color: black;
  color: aliceblue;
}
.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}
.row #title {
  flex: 70%
}

.margin_top_sidebar{
  margin-top: 76px;
}

.margin_card{
  margin: 8px 2px;
  padding:5px 10px;
  border-radius: 3%;
}

.strong{
  font-weight: bolder;
  font-size: 1.3rem;
}

.weak{
  font-size: 0.9rem;
}

.parrafo-canvas{
  font-size: 0.8rem;
  padding: 0%;
  margin: 0%;
}

.my-bg-offcanvass{
  background-color: rgba(239, 245, 255, 0.966) !important;
  color: rgb(0, 0, 29);
}

.back-img{
  /* background: url('../src/images/estadio.jpg') center top/100%  no-repeat  fixed padding-box content-box;
  color:rgb(21, 120, 206);
  min-height: 100vh; */
  color: var(--azul-oscuro-bkg-2);
}

.no-margin{
  margin-left: -2%;

}

.my-bg-card {
  background-color: var(--celeste) !important;
  width: 100%;
}

.my-bg-card-button {
  background-color: var(--azul-oscuro) !important;
}
.my-secondary-title {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 10px ;
  color:rgb(253, 253, 253)
}

.back-img-portada{
  background: no-repeat url('../src/images/Portada.jpg') top/100%;
  color:aliceblue;
}

.main-title{
  padding-top: 20px;
}

.title-stadims{
 font-size: 1.6rem;
 font-weight: bold;
 padding-top: 10px;
 color: rgba(0, 50, 255, 0.9)
}

.description-stadims{
  font-size: 1.3rem;
  padding-top: 10px;
}

.carrusel{
  background-color: #181d22;
  height: 84vh;
  padding-top: 5px;
  color:rgb(253, 253, 253)
}

/*CARDS PARA JUGADORES*/
.my-container{
  background-color: rgba(15, 63, 85, 0.4) !important;
  width: 100%;
  border-radius: 8px;
  padding:5px 10px;
}

.my-background-color{
  background-color: rgba(15, 63, 85, 0.8) !important;
  width: 100%;
  border-radius: 8px;
  padding:5px 10px;
  text-align: center;
}

.my-title-card,
.my-buttom-card,
.my-subtitle-card{
  background-color: rgba(15, 63, 85, 0.8);
  text-align: center;
  font-size: 0.9rem;
  color:rgba(253, 253, 253,0.9);
  padding:1px;
  margin-bottom: 1px;
}

.my-title-card{
  border-top-right-radius: 8px !important;
  border-top-left-radius: 8px !important;
  font-size: 1.3rem;
  font-weight: bold;
}

.my-buttom-card{
  border-bottom-right-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
}

.widthoutpadd-r{
  padding-right:1px;
}
.widthoutpadd-l{
  padding-left:1px;
}
.contenedor-paises {
  display: flex;
  flex-wrap: wrap;

}
.boton-paises {
  background-color: #047235;
  max-width: 50%;
  margin: 5%;
  height: 75x;
  width: 150px;
  border-radius: 15px;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.card-paises {
  max-width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
}

.boton-paises:hover {
  background-color: black;
  border: 2px solid white;
}

.img-btn {
  margin: 5%;
  width: 40px;
  height: 30px;
  padding-left: 5px;
  
  
  
}