.App {
  width: 100vw;
  height: 100vh;
  font-size: large;
  margin: 0px;
}

.compMargin {
  margin-top: 0px;
  margin-left: 0px;
}


.sidebar {
  position: fixed;
  background-color: #6c757d;
  height: 100%;
  width: 15% ;
  
}

.sidebarList {
  padding: 0%;
  height: auto;
  width: 100%;
}

.sidebarList .row {
  list-style-type: none;
  margin: 0;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid black

}

.sidebarList .row:hover {
  cursor: pointer;
  background-color: black;
  color: aliceblue;
}
.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}
.row #title {
  flex: 70%
}

.margin_top_sidebar{
  margin-top: 76px;
}

.margin_card{
  margin: 8px 2px;
  padding:5px 10px;
  border-radius: 3%;
}

.strong{
  font-weight: bolder;
  font-size: 1.3rem;
}

.weak{
  font-size: 0.9rem;
}

.parrafo-canvas{
  font-size: 0.8rem;
  padding: 0%;
  margin: 0%;
}

.my-bg-offcanvass{
  background-color: rgba(224, 236, 253, 0.966) !important;
  color: rgb(0, 0, 29);
}

.back-img{
  background: no-repeat top/100%  url('../src/images/estadio.jpg') fixed;
  color:rgba(224, 236, 253, 1)
}

.no-margin{
  margin-left: -1%;

}

.my-bg-card {
  background-color: rgba(15, 63, 85, 0.4) !important
}

.my-main-title {
    text-align: center;
    font-size: 4rem;
    padding-top: 10px ;
}

.my-secondary-title {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 10px ;
}
